*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bgclr-base: #ccc;
    --bgclr-h1-a: #dd5735;
    --bgclr-button: #dd5735;
    --bgclr-header-footer: #444444;
    --bgclr-text-css-html: #3101ff;
    --bgclr-text: #387d11;
    --mxw: 1200px;
    --fz: 1rem;
    --ff: sans-serif;
    --mbl: 5rem;
    --bgclr-nav: #cbcbcb;
    --pdg: 1rem 2rem;
    --pdg-header-footer: 3rem;
    --border-base: 1px solid #dd5735;
    --clr: #fff;
    --border-radius: 0.5rem;
    --fw: 700;
}

body {
    font-family: "Alexandria";
    font-size: var(--fz);
    background-color: var(--bgclr-base);
}

div.container {
    max-width: var(--mxw);
    margin-inline: auto;
    margin-block: var(--mbl);
}

div.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    row-gap: 2rem;
    justify-items: center;
}

div.grid a img{
    max-width: 100%;
    max-height: auto;
    box-shadow: 0px 10px 10px #0000008b;
    border-radius: 0.5rem;
}


header.header,
footer.footer {
    background-color: var(--bgclr-header-footer);
    padding: var(--pdg-header-footer);
    text-align: center;
}


h1,
a {
    text-decoration: none;
    color: #dd5735;
}
a:focus{
    outline: none;
}

header.header p,
footer.footer p {
    color: var(--bgclr-base);
}


